.Header {
  background-image: linear-gradient(225deg, #010220 0%, #000000 100%);
  height: 80vh;
  overflow: hidden;
  background: var(--color-background);
  position: relative;

  @media (min-width: 768px) {
    /* min-height: 800px; */
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  }
}

.Logo {
  img {
    max-height: 52px;
    width: 52px;
    mix-blend-mode: difference;
  }
}
