:root {
  --font-family: 'Open Sans', Futura, -apple-system, sans-serif;
}

html,
body {
  font-family: var(--font-family);
  font-weight: 400;
}

@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

a {
  cursor: pointer;
}
button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}
figure {
  margin: 0;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}
ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}
p {
  margin: 0;
}
cite {
  font-style: normal;
}
fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;

  .anchor > svg {
    position: absolute;
    left: 0;
    transform: translateY(35%) translateX(-130%) rotate(-45deg);
    transition: opacity 200ms ease;
    opacity: 0;
    background: none;
    height: 30px;
    width: 30px;
    display: none;

    @media (min-width: 768px) {
      display: inline;
    }
  }

  &:hover,
  &:focus-within {
    .anchor {
      position: relative;
    }

    .anchor > svg {
      opacity: 0.75;
    }
  }
}

.octicon {
  color: var(--color-text);
}

h1 {
  font-size: 2.375rem;
}
h2 {
  font-size: 2rem;
}
.container > * {
  margin-bottom: 1.55rem;
}

li > .active {
  border-bottom: 4px solid #21b3ff;
  margin-bottom: -0.094rem;
  font-weight: 600;
}

.blog-sidebar {
  top: 150px;
  max-height: calc(100vh - 300px);
}

code {
  background: var(--color-codeBlock);
  transition: background-color 300ms ease-out;
  border-radius: 0.25rem;
  padding: 0 0.4rem;
  font-family: var(--font-family);
}

.ocean {
  height: 5%;
  width: 101vw;
  position: absolute;
  bottom: 0;
  left: -4px;
  background: var(--color-radialCoverBackground);

  @media (min-width: 768px) {
    transform: rotate(-7deg);
    height: 10%;
    bottom: 1rem;
  }
}

.wave {
  background: var(--color-radialWaves);
  position: absolute;
  top: -197px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}

@media screen and (prefers-reduced-motion: reduce), (update: slow) {
  * {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important; /* Hat tip Nick/cssremedy (https://css-tricks.com/revisiting-prefers-reduced-motion-the-reduced-motion-media-query/#comment-1700170) */
    transition-duration: 0.001ms !important;
  }
}

body {
  scroll-margin-top: 4rem;
}
