.PortfolioCard {
  min-height: 14rem;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 0px 50px rgba(0, 0, 0, 0.12);
  background-color: var(--color-backgroundHighlight);
  transition: box-shadow 225ms ease-in-out, background-color 225ms ease-in-out,
    color 225ms ease-in-out;
  color: var(--color-text);

  & a {
    font-weight: bold;
    transition: color 225ms ease-in-out;
    &:hover {
      color: rgba(66, 153, 225, 1);
    }
  }

  & h4 {
    transition: color 225ms ease-in-out;
  }

  &:focus-within,
  &:hover {
    h4 {
      color: rgba(66, 153, 225, 1);
    }
  }
}

.PortfolioCard__description {
  z-index: 2;
}

.description {
  z-index: 2;
}

.readmore {
  z-index: 2;
}

.ocean {
  bottom: -100px;
  z-index: 1;

  @media (min-width: 768px) {
    transform: none;
    bottom: -100px;
  }

  @media (min-width: 1024px) {
    bottom: -105px;
  }

  > .wave {
    animation: none;
  }
}
