.GradientHeading {
  background-image: var(--color-radialGradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 0.9;
  transition: all 225ms ease;
  text-transform: uppercase;
  font-weight: 700;
  white-space: normal;
  font-size: 4.8rem;
  animation: hue 10s infinite alternate;

  @media (min-width: 768px) {
    font-size: 9.375rem;
  }
}

.GradientHeading-h2 {
  font-size: 4.8rem;
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-20deg);
  }
}
