.BlogContentLayout {
  max-width: min(1100px, 100%);
  .blog-sidebar {
    margin-top: 18.2rem;
    font-size: 15px;
    overflow: auto;

    &::-webkit-scrollbar {
      /* display: none; */
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: var(--color-progress);
    }

    ul > * + * {
      margin-top: 0.4rem;
    }

    a {
      opacity: 0.8;
    }
  }
  .blog-content {
    width: 100%;
    max-width: max(686px, 80%);

    > * + * {
      margin-bottom: 1.55rem;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 3.1rem;
      margin-bottom: 1.55rem;
      line-height: 1.1;
    }

    a {
      text-decoration: underline;
    }

    blockquote {
      background-color: var(--color-codeBlock);
      padding: 2rem;
      border-left: 8px solid #21b3ff;
    }

    .BlogContentLayout img {
      box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 0px 50px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
      width: 100%;
      height: auto;
    }
    .title-heading:hover .anchor > svg,
    .title-heading:focus-within .anchor > svg {
      opacity: 1;
    }

    .token.comment {
      font-style: normal;
    }

    div > pre .token {
      font-family: monospace !important;
    }

    #react-live {
      font-size: 1rem;
      > div textarea,
      > div pre * {
        font-family: monospace !important;
      }

      > center:last-of-type {
        background-color: var(--color-codeBlock);
        height: auto;
        overflow: hidden;
      }

      > center > div * + * {
        margin-left: 1rem;
      }

      > pre:last-of-type {
        background-color: var(--color-codeBlock);
        height: auto;
        overflow: hidden;
      }

      > center * {
        margin: 1.55rem;
      }
    }
    .highlight-line {
      background-color: rgba(201, 167, 255, 0.2);
      margin: 0 -10px;
      padding: 0 5px;
      border-left: 5px solid #c9a7ff;
    }

    .code-number-style {
      display: inline-block;
      width: 2em;
      user-select: none;
      opacity: 0.3;
    }

    pre {
      background-color: #061526;
      border-radius: 4px;
      font-size: 16px;
      padding: 10px;
      overflow-x: auto;
      /* Track */
      ::-webkit-scrollbar {
        width: 100%;
        height: 5px;
        border-radius: 0 0 5px 5px;
      }
      ::-webkit-scrollbar-track {
        background: #061526;
        border-radius: 0 0 4px 4px;
        border: 1px solid rgba(0, 0, 0, 0.2);
      }
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 5px;
      }
    }

    ol li {
      counter-increment: muffins;
    }
    ol li:before {
      content: counter(muffins) '. ';
    }
    ol {
      list-style: none;
      counter-reset: muffins;
    }

    ol {
      counter-reset: cupcake;
      padding-left: 32px;
    }
    ol li {
      counter-increment: cupcake;
    }
    ol li:before {
      content: counters(cupcake, '.') ' ';
      /* Whatever custom styles you want here */
      color: var(--color-text);
      font-weight: bold;
    }
  }

  p {
    font-size: 16px;
    font-weight: 500;

    @media (min-width: 768px) {
      font-size: 19px;
    }
  }
}
