.GridLayout {
  max-width: 1100px;
  margin-top: 2rem;
  position: relative;
  width: 100%;

  @media (min-width: 768px) {
    display: grid;
    place-items: center;
    margin: 4rem;
    margin-top: 6rem;
  }

  @media (min-width: 1100px) {
    place-items: flex-start;
    grid-template-columns: 1fr minmax(550px, 25%);
  }

  .blog-footer {
    > div > * + * {
      margin-left: 0.4rem;
    }
  }
}
