.Nav {
  display: flex;
  justify-content: center;
  background-color: var(--color-background);
  backdrop-filter: saturate(180%) blur(5px);
  position: sticky;
  top: 0;
  z-index: 5;
  flex-direction: column;
  transition: color 300ms ease-out, fill 300ms ease-out, stroke 300ms ease-out,
    background-color 300ms ease-out;
  > ul {
    width: 686px;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;

    @media (min-width: 770px) {
      width: 100%;
    }

    > * + * {
      margin-left: 2rem;

      &:last-of-type {
        margin-left: auto;
      }
    }

    a {
      color: var(--color-text);
    }
  }
}
