.Nav {
  overflow-y: overlay;
  display: flex;
  justify-content: center;
  background-color: var(--color-backgroundHighlight);
  position: sticky;
  top: 0;
  z-index: 5;
  > ul {
    width: 686px;
    display: flex;
    align-items: center;
    overflow-y: overlay;

    @media (min-width: 770px) {
      width: 100%;
    }

    > li > a {
      opacity: 0.5;
      transition: opacity 225ms ease;

      &:hover {
        opacity: 1;
      }
    }
    > * + * {
      margin-left: 2rem;

      &:last-of-type {
        margin-left: auto;
      }
    }

    a {
      color: var(--color-text);
    }
  }
}
